header {
    background-color: #85CDF5;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');



/* footer */
#degrade {
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    width: 100%;
    height: 5px;
}

#divFooter {
    background-color: #333333;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link_header {
    text-decoration: none;
    color: #333333;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    position: relative;
}

.link_header::after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 4px;
    bottom: -10px;
    right: 0;
    background-color: #333333;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.link_header:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}
.esquerdaFooter {
    display: flex;
    align-items: center;
}

iframe {
    margin-right: 40px;
}

.footer {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 24.41px;
}

#divDesenvolvidoPor {
    display: flex;
    flex-flow: column;
}

.textosFooter {
    width: 378px;
    line-height: 15px;
}

.textoIcon {
    display: flex;
    margin-bottom: 15px;
}

.imgFooter {
    margin-right: 6px;
}

.ultimoIcon {
    margin-bottom: 30px;
}

#quemsomos {
    padding: 2px 10px 7px 9px;
    background: #DEB959;
    color: black;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
}